<%= link_to issue, class: "list-group-item" do %>
  <% if @open %>
    <span class="glyphicon glyphicon-unchecked"></span>
  <% else %>
    <span class="glyphicon glyphicon-check"></span>
  <% end %>
  <%= issue.title %>
<% end %>
