<%= link_to project_issue_path(@project, issue), class: "list-group-item" do %>
  <% if @open %>
    <span class="glyphicon glyphicon-unchecked"></span>
  <% else %>
    <span class="glyphicon glyphicon-check"></span>
  <% end %>
  <%= issue.title %>
<% end %>
