<%= link_to t("issues.index.open"), issues_path({"status": "open"}) %>
<%= link_to t("issues.index.completed"), issues_path({"status": "completed"}) %>
<div class="list-group">
<%= render collection: @issues, partial: "issue" %>
</div>
